<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About page Restautant website </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{>headtag}}
</head>

<body>
    <!-- =================header section of about page starting ==== -->
    <header id="home" class="home"
        style=" background-image: linear-gradient(rgba(4, 9, 30, .8), rgba(4, 9, 30, .7)), url(https://media.istockphoto.com/id/1241879686/photo/delicious-vegan-tacos-served-in-a-plate.jpg?s=612x612&w=is&k=20&c=12DQbRa_rDMuePXfx-VXIYlWRScsM-kqJxt3C9FYI1M=)">
        {{>navbar}}
        <section class="Hcontainer" data-aos="fade-up">
            <div class="small_container">
                <p> OUR RESTAURANT </p>
                <h1> About Us </h1>
                <p>Another free template by Colorlib. Far far away, behind the word mountains, far from the countries
                    Vokalia and Consonantia, there live the blind texts.
                </p>
                <a href="#" class="B_table">Explore more </a>
            </div>
        </section>
    </header>

    <!-- =======================About section stating middel ================== -->
    <section class="chooseUs" id="chooseUs">
        <h1 class="uphead"> CHOOSE DESSERTS</h1>
        <h1 class="downhead">Popular<span> Desserts</span></h1>
        <div class="cho_row">
            <div class="cho_col cho_1" data-aos="fade-up">
                <span> 01 </span>
                <h1> Delicious Food</h1>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the blind texts.
                </p>
            </div>
            <div class="cho_col cho_2" data-aos="fade-up">
                <span> 02 </span>
                <h1> Expert Chefs</h1>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the blind texts.
                </p>
            </div>
            <div class="cho_col cho_3" data-aos="fade-up">
                <span> 03 </span>
                <h1> Friendly People</h1>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the blind texts.
                </p>
            </div>
            <div class="cho_col cho_4" data-aos="fade-up">
                <span> 04 </span>
                <h1> Parties</h1>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the blind texts.
                </p>
            </div>
        </div>
    </section>

    <!-- =======================over seif section starting ======================= -->
    <section class="chef" id="chef">
        <div data-aos="fade-up">
            <h1 class="uphead"> Chef</h1>
            <h1 class="downhead">our <span> Professional Chef</span></h1>
            <p class="h_para"> Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the blind texts.
            </p>
        </div>
        <div class="chef_row">
            <div class="chef_col">
                <img src="../static/Restaurant_image/chef_1.jpg.webp" alt="">
                <div class="chef_text">
                    <h1>James Anderson</h1>
                    <span class="position"> Master Chef </span>
                    <div class="social_link ">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-tiktok"></i>
                    </div>
                </div>
            </div>
            <div class="chef_col">
                <img src="../static/Restaurant_image/chef_2.jpg.webp" alt="">
                <div class="chef_text">
                    <h1>Craig Gold</h1>
                    <span class="position"> cook </span>
                    <div class="social_link ">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-tiktok"></i>
                    </div>
                </div>
            </div>
            <div class="chef_col">
                <img src="../static/Restaurant_image/chef_3.jpg.webp" alt="">
                <div class="chef_text">
                    <h1>Mellissa White</h1>
                    <span class="position"> Chef</span>
                    <div class="social_link ">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-tiktok"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ===========================footer of about section starting = =========== -->
    {{>footer}}
    <!-- ---------------------script javascript --------------- -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>

</html>