<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manar Restautant website </title>
    {{>headtag}}
</head>

<!-- <body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0"> -->

<body>
    {{!-- <header id="home" class="home">
        <section class="nav">
            <a href="#" class="logo">`
                <h1>Millan</h1><span> .</span>
            </a>
            <div class="navbar" id="navbar">
                <a href="/" class="ankar poweranker"> Home </a>
                <a href="#" class="ankar"> Menu </a>
                <a href="#" class="ankar"> Events </a>
                <a href="#" class="ankar"> Gallery </a>
                <a href="#" class="ankar"> About </a>
                <a href="#" class="ankar"> Contact </a>
            </div>
            <div class="booking">
                <a href="#" class="B_table"> Book a Table </a>
            </div>
            <div> <a href="#" id="menu-btn" class="fas fa-bars"> </a></div>
        </section>
        <section class="Hcontainer" data-aos="fade-up">
            <div class="small_container">
                <p> ENJOY YOUR HEALTHY DELICIOUS MEAL </p>
                <h1>Treat Yourself </h1>
                <p>Another free template by Colorlib. Far far away, behind the word mountains, far from the countries
                    Vokalia and Consonantia, there live the blind texts.
                </p>
                <a href="#" class="B_table">Explore more </a>
            </div>
        </section>
    </header> --}}
    {{>navbar}}
    <!-- ----------------------------------------food menu section starting ------------------------------------------- -->
    <section id="food_menu" class="food_menu" style="padding: 6rem 0rem;">
        <h1 class="uphead"> CHOOSE DESSERTS</h1>
        <h1 class="downhead">Popular<span> Desserts</span></h1>
        <div class="row">
            <div class="col" data-aos="zoom-in">
                <div class="col_image">
                    <img src="../Public/Image/dessert_1.png.webp" alt="">
                </div>
                <div>
                    <h1> Ice Cream </h1>
                    <span style="margin: auto; text-align: center;"> $10 </span>
                </div>
            </div>
            <div class="col" data-aos="zoom-in">
                <div class="col_image">
                    <img src="../Public/Image/dessert_2.png.webp" alt="">
                </div>
                <div>
                    <h1> Ice Cream </h1>
                    <span style="margin: auto; text-align: center;"> $10 </span>
                </div>
            </div>
            <div class="col" data-aos="zoom-in">
                <div class="col_image">
                    <img src="../Public/Image/food2.png" alt="">
                </div>
                <div>
                    <h1> Ice Cream </h1>
                    <span style="margin: auto; text-align: center;"> $10 </span>
                </div>
            </div>
            <div class="col" data-aos="zoom-in">
                <div class="col_image">
                    <img src="../Public/Image/food3.png" alt="">
                </div>
                <div>
                    <h1> Ice Cream </h1>
                    <span style="margin: auto; text-align: center;"> $10 </span>
                </div>
            </div>
        </div>
    </section>
    <!-- ---------------------------------------testimonal section of the cousturmer ----------------------- -->
    <section class=" testimonials">
        <h1 class="uphead"> TESTIMONIALS</h1>
        <h1 class="downhead">Satisfied <span> Customers</span></h1>
        <div class="T_container">
            <div class="t_row" id="rowsection">
                <div class="t_col" data-aos="zoom-in">
                    <div class="t_image">
                        <img src="../Public/Image/Photo_2.jpeg" alt="">
                    </div>
                    <h1> person first </h1>
                    <h2> CEO GOOGLE </h2>
                    <div class="para">
                        <p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large ocean"
                        </p>
                    </div>
                </div>
                <div class="t_col" data-aos="zoom-in">
                    <div class="t_image">
                        <img src="../Public/Image/Photo_1.jpeg" alt="">
                    </div>
                    <h1> person first </h1>
                    <h2> CEO GOOGLE </h2>
                    <div class="para"
                        style="max-width: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                        <p> " Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there
                            live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics,
                            a large ocean".
                        </p>
                    </div>
                </div>
                <div class="t_col" data-aos="zoom-in">
                    <div class="t_image">
                        <img src="../Public/Image/Photo_3.jpeg" alt="">
                    </div>
                    <h1> person first </h1>
                    <h2> CEO GOOGLE </h2>
                    <div class="para"
                        style="max-width: 600px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                        <p> " Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there
                            live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics,
                            a large ocean".
                        </p>
                    </div>
                </div>
            </div>

            <div class="control">
                <span id="control1"></span>
                <span id="control2" class="powerbtn"></span>
                <span id="control3"></span>
            </div>
        </div>
    </section>

    <!--  ? ---------------gallary section starting ---------------- -->
    <section class="gallary">
        <h1> GALLERIES</h1>
        <h2>photo <span> Galleries</span></h2>
        <div class="gallary_row">
            <div class="gallary_image">
                <img src="../Public/Image/img_1.jpg.webp" alt="">
            </div>
            <div class="gallary_image">
                <img src="../Public/Image/img_1_b.jpg.webp" alt="">
            </div>
            <div class="gallary_image">
                <img src="../Public/Image/img_3_b.jpg.webp" alt="">
            </div>
            <div class="gallary_image">
                <img src="../Public/Image/img_4.jpg.webp" alt="">
            </div>
        </div>
        <a href="#" class="g_btn">More Galleries</a>
    </section>

    <!-- ? ------------------event section started ------------------ -->
    <section id="event" class="event">

        <h1 class="uphead"> EVENTS</h1>
        <h1 class="downhead">Enjoy <span> Our Events</span></h1>
        <p class="h_para"> Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia, there live the blind texts.
        </p>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="e_row">
                        <div class="e_col">
                            <span>$20.99</span>
                            <h1> Birthday Party</h1>
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                                the Semantics, a large language ocean.
                            </p>
                            <h2> <i class="fa-solid fa-check"></i> Away behind the word </h2>
                            <h2> <i class="fa-solid fa-check"></i> Bookmarksgrove right at the coast </h2>
                            <h2> <i class="fa-solid fa-check"></i> Separated they live </h2>
                        </div>
                        <div class="e_image">
                            <img src="../Public/Image/party_1.jpg.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="e_row">
                        <div class="e_image">
                            <img src="../Public/Image/party_2.jpg.webp" alt="">
                        </div>
                        <div class="e_col">
                            <span>$200.99</span>
                            <h1> Guest Chef Nihgt Party</h1>
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                                the Semantics, a large language ocean.
                            </p>
                            <h2> <i class="fa-solid fa-check"></i> Away behind the word </h2>
                            <h2> <i class="fa-solid fa-check"></i> Bookmarksgrove right at the coast </h2>
                            <h2> <i class="fa-solid fa-check"></i> Separated they live </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination" style="margin-top: 2rem;"></div>
        </div>
    </section>
    <!-- ==========================Table booking section ===================== -->
    <section class="book" id="book">
        <div class="B_container">
            <h1> BOOK A TABLE </h1>
            <h2> <span>Book A Table Now</span></h2>
            <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
            </p>
            <a href="#" class="B_table"> Book a Table </a>
        </div>
    </section>

    <!-- ==========================footer section starting ========================= -->
    {{>footer}}

    <!-- ---------------------script javascript --------------- -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../Public/JS/script.js"></script>
    <script>
        AOS.init();

    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

</body>

</html>