<section class="footer_s">
    <footer>
        <div class="f_col footer_col1">
            <h1 class="footer_heading">About <span>Meal.</span></h1>
            <p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts.
            </p>
        </div>
        <div class="f_col footer_col2">
            <h2 class="footer_heading"> Connect </h2>
            <h1 class="fa-brands fa-instagram"> </h1>
            <h1 class="fa-brands fa-facebook"> </h1>
            <h1 class="fa-brands fa-square-twitter"> </h1>
            <h1 class="fa-brands fa-square-youtube"> </h1>
            <h1 class="fa-brands fa-linkedin"></h1>
        </div>
        <div class="f_col footer_col3">
            <h1 class="footer_heading">
                Contact
            </h1>
            <p>
                kajoli pithoragard uttakhand India
            </p>
            <h1> +91 8433410176</h1>
            <h1> +91 8954119002</h1>
        </div>
    </footer>
    <div class="last_footer">
        <p> Copyright ©2023 All rights reserved | This template is made with by Aman </p>
    </div>
</section>