<section class="nav">
    <a href="#" class="logo">`
        <h1>Millan</h1><span> .</span>
    </a>
    <div class="navbar" id="navbar">
        <a href="/" class="ankar"> Home </a>
        <a href="/menu" class="ankar"> Menu </a>
        <a href="/event" class="ankar"> Events </a>
        <a href="/gallery" class="ankar"> Gallery </a>
        <a href="/about" class="ankar"> About </a>
        <a href="/contact" class="ankar"> Contact </a>
    </div>
    <div class="booking">
        <a href="/tablebook" class="B_table"> Book a Table </a>
    </div>
    <div> <a href="" id="menu-btn" class="fas fa-bars"> </a></div>
</section>