:root {
    --header-height: 3.5rem;
    --first-color: hsl(19, 64%, 54%);
    --headlight_color: #ff5200;
}

* {
    margin: 0px;
    padding: 0px;
    align-items: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-family: 'Itim', cursive;
    text-align: center;
    font-weight: 500;
    transition: all 200ms linear;
}

::selection {
    background-color: #000000;
    color: #fff;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ff5200;
}

/* --------------------------------------home section styling -------------------------- */
.home {

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, .6), rgba(4, 9, 30, .5)), url(../Image/bg_1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 1;
}

/* ------------------------navbar logo styling ------------------- */
.nav {
    position: relative;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#menu-btn {
    display: none;
    color: #fff !important;
}

.logo h1 {
    display: inline;
    font-size: 2.5rem;
    font-family: Itim;
    color: #fff;
}

span {
    color: #ff5200;
}

/* --------------------------navbar tages styling ---------------------------- */
.navbar a {
    color: #a09c9c;
    padding: 0rem 1.5rem;
    margin: .5rem auto;
}

.navbar .poweranker {
    color: #f0e8e8;
    font-weight: 600;
}

.navbar a:hover {
    color: #fff;
}

.B_table {
    z-index: 1;
    background-color: #ff5200;
    color: #fff;
    padding: .8rem;
    border-radius: 7%;
}

.B_table:hover {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 10%;
    transform: translateY(-2px);
    font-weight: 700;
}

.Hcontainer {
    transition-delay: 5ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_container {
    width: 60vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.small_container p {
    font-weight: 500;
    color: #fff;
}

.small_container h1 {
    font-size: 6.5rem;
    font-family: none;
    padding: 1rem 0rem;
    color: #fff;
}

.small_container a {
    margin-top: 2rem;
}

/* ========================= food menu section starting =========================== */
.uphead {
    font-size: 1.8rem;
    color: #5f5f5f;
    font-family: monospace;
}

.downhead {
    font-size: 3.5rem;
    font-family: Itim;
}

.downhead span {
    font-size: 3.5rem;
}

.food_menu {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem 0rem;
    background-color: #fee2b3;
}

.food_menu .col_image {
    max-width: 45px;
    max-height: 50px;
    margin: auto;
    padding-right: 1rem;
}

.food_menu .col_image img {
    width: 100%;
    height: 100%;
}

.food_menu .row {
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.food_menu .row .col {
    display: flex;
    margin: 1rem;
    padding: 2rem 5rem;
    border: .5px solid rgba(0, 0, 0, 0.1);
    border-radius: 7%;
}

.food_menu .row .col h1 {
    font-size: 2rem;
}

.food_menu .row .col:hover {
    background-color: #fff;
    border: .5px solid #fff;
}



/* ---- media query  */
@media(max-width:740px) {
    .navbar {
        position: absolute;
        top: -30rem;
        right: 0;
        left: 0;
        background-color: #fee2b3;
        padding: 1rem 2rem;
        padding-top: 3rem;
        z-index: 0;
        transition: .2s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navbar.active {
        top: 0;
    }

    .navbar a {
        padding: 0.5rem 1rem;
        display: block;
        color: #000;
    }

    .navbar .poweranker {
        color: #ff5200 !important;
        font-weight: 600;
    }

    .navbar a:hover {
        color: #000;
        font-weight: 600;
    }

    #menu-btn {
        position: absolute;
        top: 2rem;
        right: 1.5rem;
        font-size: 2.7rem;
        color: #000;
        display: inline-block;
        transition: .2s linear all;
    }

    #menu-btn.fa-times {
        color: black;
        transform: rotate(180deg);
    }

    .para {
        padding: 0rem 3rem;
    }
}

/* ================================ testimonal reviews of people ============================ */
.testimonials {
    position: relative;
    padding: 3.5rem 1rem;
    height: 100%;
    background-color: #fee2b3;
}

.T_container {

    padding: 5rem 15px;
    margin: 0rem 15px;
    width: 900px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.t_row {
    /* max-width: 650px;
    padding: 2rem 15px;
    margin: auto;
    overflow: hidden; */
    display: flex;
    transition: 0.5s;
}

.t_row .t_col {
    width: 700px;
    padding: 2rem 10rem;
    box-sizing: border-box;
    text-align: justify;
}

.t_col .t_image {
    max-width: 85px;
    max-height: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.t_col .t_image img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.t_col h1 {
    font-size: 2.7rem;
    color: var(--headlight_color);
}

.t_col h2 {
    color: #000;
}

.t_col .para {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.t_col p {
    padding: 3.5rem 0rem;
    color: #5f5f5f;

}

.control {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

.control span {
    width: 13px;
    height: 13px;
    background: #321764;
    border-radius: 15px;
    margin: 0 3px;
    cursor: pointer;
    transition: 0.5s;

}

.powerbtn {
    width: 40px !important;
}

/*  ? -------------------- gallary section started -------------------- */

.gallary {
    padding: 3.5rem 0rem;
    background-image: linear-gradient(rgba(4, 9, 30, .8), rgba(4, 9, 30, .7)), url(../Image/hero_bg_2.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.gallary h1 {
    font-size: 1.8rem;
    color: #e7e7e7;
    font-family: monospace;
}

.gallary h2 {
    font-size: 3.7rem;
    color: #b59292;
}

.gallary h2 span {
    font-size: 3.7rem;
    color: #ff5200;
}

.gallary .gallary_row {
    padding: 3.1rem 10%;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 350px));
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.gallary_row .gallary_image {
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
}

.gallary_image img {
    width: 100%;
    height: 100%;
    transition: transform 300ms linear;
}

.gallary_image img:hover {
    transform: scale(1.1);
}

.g_btn {
    margin-top: 3.5rem;
    background-color: #ff5200;
    color: #fff;
    padding: .8rem;
    border-radius: 7%;
}

.g_btn:hover {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 10%;
    transform: translateY(-2px);
    font-weight: 700;
}

/* =================event section starting ================= */
.event {
    position: relative;
    padding: 3.5rem 10%;
    background: #fee2b3;
}

.h_para {
    text-align: center;
    padding: 2rem 0rem;
    font-family: 'Itim';
    max-width: 600px;
    margin: auto;
}

.e_row {
    padding: 3.5rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 450px));
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.e_row .e_col {
    font-family: cursive;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.e_col h1 {
    font-family: serif;
    padding-top: 1rem;
    font-size: 30px;
}

.e_col span {
    font-size: 30px;
    color: #ff5200;
}

.e_row p {
    padding: 2rem 0rem;
}

.e_col h2 {
    text-align: left;
    line-height: 3rem;
    padding-left: 1rem;
}

.e_col h2 i {
    color: #ff5200;
}

/* ========================swiper style css ===================== */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet-active {
    background-color: #ff5200 !important;
}


@media(max-width:940px) {
    .event {
        padding: 3.5rem 3.5%;
    }
}

@media(max-width:900px) {
    .gallary .gallary_row {
        padding: 3.1rem 5%;
    }
}

@media(max-width:650px) {
    .para {
        padding: 0rem 2rem;
    }
}

@media(max-width:650px) {
    .para {
        padding: 0rem 15rem;
    }
}